body {
    font-family: "Futura PT";
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000;
    width: 660px;
    margin: 40px auto;
}

section {
    display: grid;
    grid-template-columns: repeat(3, ifr);
}

section img, section video {
    object-fit: contain;
    height: 220px;
    width: 100%;
}